@use "fonts.scss" as fonts;

.house-details-page {
  padding: 10px;
}

.house-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: fonts.$roboto;
}

.house-name {
  margin-top: 10px;
  font-size: xx-large;
}

.house-details > div {
  font-size: large;
  margin-top: 20px;
}

.back-icon {
  cursor: pointer;
  position: absolute;
}

@media (max-width: 700px) {
  .back-icon {
    position: relative;
  }
}
